<!DOCTYPE html>
<html>
  <head>
    <title>Beyond the Dream</title>
    <meta name="author" content="http://btd.company">
    <meta name="keywords" content="btd, Beyond the Dream, 비욘드더드림, 팬더, fanthe">
    <meta name="description" content="Beyond the Dream은 새로운 비즈니스에 도전하여 보다 나은 세상 만드는 스타트업입니다.">
    <meta name="og:description" content="Beyond the Dream은 새로운 비즈니스에 도전하여 보다 나은 세상 만드는 스타트업입니다.">
    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Beyond the Dream Corp">
    <meta property="image" content="">
    <meta property="og:image:width" content="">
    <meta property="og:image:height" content="">
    <meta property="og:description" content="새로운 것에 도전하고 꿈을 실현하는 Beyond the Dream">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-125864870-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-125864870-1');
    </script>
    <!--Text Effect -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </head>
  <body>
    <%= yield %>
    <%= render 'shared/scripts' %>
  </body>
</html>
